HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.node_modules
.hintrc
.mvnw
.mvnw.cmd
.package-lock.json
.package.json
.pom.xml
.README.md 
.tsconfig.app.json 
.tsconfig.json 
.tsconfig.spec.json
.favicon.ico
.test
.angular.json
.angular/cache/16.2.14
