<body>
  <div class="container my-5 text-center">
    <h1 class="mb-5 text-primary font-weight-bold">The Student Health Clinic</h1>
    <div class="text-left">
      <h2 class="text-primary font-weight-bold">Our Mission</h2>
      <p>Our student clinic is dedicated to providing high-quality healthcare services to the community while giving our students valuable hands-on experience.</p>
      <p>We believe that by combining the expertise of our faculty and the enthusiasm of our students, we can deliver exceptional care and support to our patients..</p>
      <h2 class="text-primary font-weight-bold">Our Approach</h2>
      <p>At our student clinic, we take a holistic approach to healthcare, focusing on both the physical and emotional well-being of our patients.</p>
      <p>Our team of dedicated professionals works closely with each patient to develop a personalized treatment plan that addresses their unique needs and concerns.</p>
      <h2 class="text-primary font-weight-bold">Our Team</h2>
      <p>Our clinic is staffed by a team of highly skilled and experienced faculty members, as well as a dedicated group of students who are eager to learn and grow in their respective fields.</p>
      <p>Together, we strive to create a welcoming and supportive environment where our patients can feel comfortable and confident in the care they receive.</p>
    </div>
  </div>
</body>