.navbar-nav .nav-link {
    margin-right: 1rem;
  }
  
  .navbar-nav .nav-link:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 991.98px) {
    .navbar-brand {
      display: none;
    }
  }
  
  .welcome {
    font-size: 1.5rem;
    font-weight: bold;
  }