

/* In src/styles.css or src/styles.scss */

html, body {
  height: 200%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(../../assets/images/kk3.jpg); /* Correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: rgba(24, 97, 180, 0.952); /* Ensure text is readable over the background image */
  text-shadow: 1px 1px 2px black(54, 15, 231, 0.7); /* Optional: add text shadow for better readability */
}




.contact-us h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us h2 {
  margin-top: 20px;
}

.contact-us p, .contact-us a {
  color: rgb(5, 5, 5);
}

.contact-us a {
  text-decoration: none;
  color: #f19d00;
}

.contact-us a:hover {
  text-decoration: underline;
}

.contact-us ul {
  list-style-type: none;
  padding: 0;
}

.contact-us ul li {
  margin: 5px 0;
}
