<body>
    <div class="reset-container">
        <div class="reset-card">
            
            <div class="form-group">
            <h2>Reset Password</h2>
            <p>Enter your email to receive verification code</p>
            <form [formGroup]="resetForm" >
                <label for="inputEmail" class="form-label"></label>
                <input type="email" class="form-control" placeholder="email" name="email" > 

                <label for="emailPassword" class="form-label"></label>
                <input type="emailPassword" class="form-control" placeholder="email Password" name="emailPassword" > 

                <a routerLink="#">Send Verification Code</a>
            
                <label for="verificationCode" class="form-label"></label>
                <input type="integer" class="form-control" placeholder="Verification code" name="verification-code" >    

                <label for="newPassword" class="form-label"></label>
                <input type="newPassword" class="form-control" placeholder="New Password" name="newPassword" >    

                <label for="confirmPassword" class="form-label"></label>
                <input type="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword" >               
            
            <div class="form-actions">
                <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary" >Reset</button>               
                <button type="button" routerLink="/home" class="btn btn-secondary">Cancel</button>
              </div>
              
            </form>
            </div>
        </div>
    </div>
</body>