<body>
  <div class="welcome d-flex justify-content-center my-4">
  <h1 class="text-primary font-weight-bold">Welcome To The Student Health Clinic</h1>
</div>
<div class="login-container">
  <div class="login-card">
    <h2>Login to start</h2>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
      </div>
      <div class="form-actions">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary" >Login</button>

        <button type="button" class="btn btn-secondary" >Cancel</button>
      </div>
      <a routerLink="/forgot-password"  class="forgot-password">Forgot password?</a>
      <div class="sign">
  <p>Don't have an account? <a routerLink="/register">Register Here</a></p>
</div>
    </form>
  </div>

  </div>
</body>

